fastapi[all]
sqlmodel
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==3.2.0
qdrant-client
sentence-transformers
minio
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-core
pypdf
python-docx
pytest
httpx
pytest-asyncio
python-dotenv
openpyxl
python-pptx
